tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style16
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hipervínculo;
	mso-style-id:8;}
a:link
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:#954F72;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style16;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid #DDDDDD;
	border-bottom:1.5pt solid #DDDDDD;
	border-left:none;
	background:#F7F7F7;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid #DDDDDD;
	border-bottom:1.5pt solid #DDDDDD;
	border-left:1.0pt solid #DDDDDD;
	background:#F7F7F7;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style16;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid #E2E2D3;
	border-bottom:1.5pt solid #DDDDDD;
	border-left:1.0pt solid #DDDDDD;
	background:#F7F7F7;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #DDDDDD;
	border-bottom:1.0pt solid #DDDDDD;
	border-left:none;
	background:#F7F7ED;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border:1.0pt solid #DDDDDD;
	background:#F7F7ED;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:1.0pt solid #DDDDDD;
	background:#F7F7ED;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00\;\[Red\]\\-\0022$\0022\#\,\#\#0\.00";
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #E2E2D3;
	border-bottom:1.0pt solid #DDDDDD;
	border-left:1.0pt solid #DDDDDD;
	background:#F7F7ED;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #DDDDDD;
	border-bottom:1.0pt solid #DDDDDD;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border:1.0pt solid #DDDDDD;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:1.0pt solid #DDDDDD;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00\;\[Red\]\\-\0022$\0022\#\,\#\#0\.00";
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #E2E2D3;
	border-bottom:1.0pt solid #DDDDDD;
	border-left:1.0pt solid #DDDDDD;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #DDDDDD;
	border-bottom:1.0pt solid #E2E2D3;
	border-left:none;
	background:#F7F7ED;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #DDDDDD;
	border-bottom:1.0pt solid #E2E2D3;
	border-left:1.0pt solid #DDDDDD;
	background:#F7F7ED;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #DDDDDD;
	border-bottom:1.0pt solid #E2E2D3;
	border-left:1.0pt solid #DDDDDD;
	background:#F7F7ED;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	color:#333333;
	font-family:"Source Sans Pro", sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00\;\[Red\]\\-\0022$\0022\#\,\#\#0\.00";
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #DDDDDD;
	border-right:1.0pt solid #E2E2D3;
	border-bottom:1.0pt solid #E2E2D3;
	border-left:1.0pt solid #DDDDDD;
	background:#F7F7ED;
	mso-pattern:black none;}
