tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style22
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:normal;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:#4E5B6F;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Artículos de la tabla";}
.style21
	{background:#A6A6A6;
	mso-pattern:black none;
	color:#A6A6A6;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;
	border:1.5pt solid white;
	mso-protection:locked visible;
	mso-style-name:BarraDeIngresosGastados;}
.style18
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	color:#4E5B6F;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-style-name:"Encabezado 1";
	mso-style-id:16;}
.style24
	{color:#EB8803;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;
	mso-style-name:Hipervínculo;
	mso-style-id:8;}
a:link
	{color:#EB8803;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;}
a:visited
	{color:#5F7791;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;}
.style23
	{mso-number-format:"\0022$\0022\#\,\#\#0\.00";
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:#4E5B6F;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Importes de la tabla";}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:#4E5B6F;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style16
	{mso-number-format:0%;
	color:#3F6C1A;
	font-size:22.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:Porcentaje;
	mso-style-id:5;}
.style17
	{text-align:left;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	padding-left:9px;
	mso-char-indent-count:1;
	color:#4E5B6F;
	font-size:25.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:Título;
	mso-style-id:15;}
.style19
	{color:#3F6C1A;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Georgia, serif;
	mso-font-charset:0;
	border-top:1.0pt solid #A6D5FF;
	border-right:none;
	border-bottom:1.0pt solid #A6D5FF;
	border-left:none;
	mso-style-name:"Título 2";
	mso-style-id:17;}
.style20
	{color:#4E5B6F;
	font-size:16.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:"Título 3";
	mso-style-id:18;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:#4E5B6F;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl68
	{mso-style-parent:style0;
	vertical-align:bottom;}
.xl69
	{mso-style-parent:style19;
	color:#3F6C1A;
	font-style:italic;
	font-family:Georgia, serif;
	mso-font-charset:0;
	border-top:1.0pt solid #A6D5FF;
	border-right:none;
	border-bottom:1.0pt solid #A6D5FF;
	border-left:none;}
.xl70
	{mso-style-parent:style19;
	color:#3F6C1A;
	font-style:italic;
	font-family:Georgia, serif;
	mso-font-charset:0;
	text-align:right;
	border-top:1.0pt solid #A6D5FF;
	border-right:none;
	border-bottom:1.0pt solid #A6D5FF;
	border-left:none;
	padding-right:18px;
	mso-char-indent-count:2;}
.xl71
	{mso-style-parent:style20;
	font-size:15.75pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0";
	vertical-align:top;}
.xl72
	{mso-style-parent:style20;
	font-size:16.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0";
	vertical-align:top;}
.xl73
	{mso-style-parent:style18;
	font-size:14.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	vertical-align:bottom;}
.xl74
	{mso-style-parent:style16;
	color:#3F6C1A;
	font-size:22.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:right;
	border-top:1.5pt solid white;
	border-right:1.5pt solid white;
	border-bottom:none;
	border-left:1.5pt solid white;
	padding-right:9px;
	mso-char-indent-count:1;}
.xl75
	{mso-style-parent:style19;
	color:#3F6C1A;
	font-style:italic;
	font-family:Georgia, serif;
	mso-font-charset:0;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #A6D5FF;
	border-left:none;}
.xl76
	{mso-style-parent:style17;
	font-size:25.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:bottom;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl77
	{mso-style-parent:style22;
	white-space:normal;}
.xl78
	{mso-style-parent:style23;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";}
.xl79
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00\;\[Red\]\0022$\0022\#\,\#\#0\.00";}
.xl80
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00\;\[Red\]\0022$\0022\#\,\#\#0\.00";
	vertical-align:bottom;}
.xl81
	{mso-style-parent:style19;
	color:#3F6C1A;
	font-style:italic;
	font-family:Georgia, serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00\;\[Red\]\0022$\0022\#\,\#\#0\.00";
	text-align:right;
	border-top:1.0pt solid #A6D5FF;
	border-right:none;
	border-bottom:1.0pt solid #A6D5FF;
	border-left:none;
	padding-right:18px;
	mso-char-indent-count:2;}
.xl82
	{mso-style-parent:style20;
	font-size:16.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0";
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #A6D5FF;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl83
	{mso-style-parent:style17;
	font-size:25.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:left;
	vertical-align:bottom;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl84
	{mso-style-parent:style18;
	font-size:14.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	vertical-align:bottom;}
.xl85
	{mso-style-parent:style19;
	color:#3F6C1A;
	font-style:italic;
	font-family:Georgia, serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	border-top:1.0pt solid #A6D5FF;
	border-right:none;
	border-bottom:1.0pt solid #A6D5FF;
	border-left:none;}
.xl86
	{mso-style-parent:style0;
	mso-number-format:"Short Date";}
.xl87
	{mso-style-parent:style20;
	font-size:16.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #A6D5FF;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl88
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";}
.xl89
	{mso-style-parent:style0;
	text-align:right;}
.xl90
	{mso-style-parent:style0;
	text-align:center;}
.xl91
	{mso-style-parent:style23;
	mso-number-format:"Short Date";}
.xl92
	{mso-style-parent:style0;
	background:#92D050;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";
	background:#92D050;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style23;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00\;\[Red\]\0022$\0022\#\,\#\#0\.00";}
.xl95
	{mso-style-parent:style24;
	color:#EB8803;
	text-decoration:underline;
	text-underline-style:single;}
.xl96
	{mso-style-parent:style21;
	border-top:1.5pt solid white;
	border-right:none;
	border-bottom:1.5pt solid white;
	border-left:1.5pt solid white;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style21;
	border-top:1.5pt solid white;
	border-right:none;
	border-bottom:1.5pt solid white;
	border-left:none;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style21;
	border-top:1.5pt solid white;
	border-right:1.5pt solid white;
	border-bottom:1.5pt solid white;
	border-left:none;
	background:#A6A6A6;
	mso-pattern:black none;}
